*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.link-a{
    width: 79px;
    height: 29px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: rgba(152, 157, 156, 1);
    cursor: pointer;
    margin: 30px 1px 0px 15px;


}

.button-header{
    width: 130px;
    height: 41px;
    border-radius: 20.5px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    background: rgba(102, 90, 225, 1);
    color: #ffffff;
    cursor: pointer;
    margin: 30px 1px 0px 15px;

}

header{
    margin-left: 30px;
}

img{
    width: 568px;
    height: 500px;
    display: inline-block;
    margin: 120px 90px 20px 90px;
}

div{
    display: inline-block;
    margin-bottom: px;
}

h1{
    width: 513px;
    height: 122px;
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;


 
}

h2{
    width: 448px;
    height: 71px;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    letter-spacing: 0%;



}


p{
    width: 515px;
    height: 87px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 151px;


}

.button-main{
    width: 239px;
    height: 64px;
    border-radius: 20.5px;
    border: none;
    background: rgba(173, 255, 0, 1);
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
   


}